header {
    position: fixed;
    z-index: 5;
    top: 0px;
    background: linear-gradient(180deg, #FFFFFF 96.51%, #293110 100.66%);
    opacity: 0.9;
    width: 100%;
    height: 158px;
}

header .container {
    display: flex;
    justify-content: space-between;
    height: 158px;
    align-items: center;
}

header .container .logo h2 {
    font-size: 24px;
    color: #ED790D;
    letter-spacing: 2px;
}

header .container .logo h3 {
    font-size: 16px;
    color: #282C3F;
    letter-spacing: 2.5px;
}

header .container nav {
    padding-left: 60px;
}

header .container ul {
    display: flex;
    align-items: center;
}

header .container li {
    list-style: none;
    margin-right: 23px;
}

header .container li:hover {
    color: #5B5D53;
}

header .container nav a {
    display: inline-block;
    color:  #5B5D53;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
    position:relative;
}

header .container nav a:after {
    background-color: #ED860D;
    display: block;
    content: "";
    height: 2px;
    width: 0px;
    bottom: -15px;
    left: 20%;
    position:absolute;

}

header .container nav a:hover:after,
header .container nav a:focus:after {
    width: 35px;

}

header .container .tel-wrap {
    display: flex;
}

header .container .tel-icon {
    display: inline-block;
    background-image: url(../images/tel.svg);
    width: 18px;
    height: 28.8px;
    margin-right: 6px;
}

header .container .tel-icon + span a {
    color: #282C3F;
    letter-spacing: 2px;
    font-size: 18px;
    text-decoration: none;
}

#menu__toggle {
  opacity: 0;
}
